<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tiny.componentmain">

    <application>
        <activity android:name="org.tiny.main.view.MainActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>
